@font-face {
    font-family: brandonRegularItalic;
    src: url("fonts/Brandon Grotesque Regular Italic.otf");
}


body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media only screen
and (min-device-width : 0px)
and (max-device-width : 736px)
and (orientation : portrait) {
    p {
        font-size: 48px!important;
    }
}

img {
    width: 500px;
    opacity: 0;
    transition: all 0.3s ease;
}

p {
    color: white;
    font-size: 24px;
    font-family: brandonRegularItalic;
    opacity: 0;
    transition: all 0.3s ease
}
